doctype
html
    head
        link(href="/favicon.icon", rel="shortcut icon", type="image/x-con")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/dist/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        base(href="/")
    body(ng-app='app')
        block main-content
        h1 layout.jade
        include scripts